input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{
	-webkit-appearance:textfield;
}	
input[type="number"]{
	-moz-appearance:textfield;
}

.g-login-box {
	position: relative;
	
	//banner
	.login-banner {
		line-height: 0;
		border-bottom: 3px solid #009a7f;
		.img {
			display: block;
			margin: auto;
		}
	}
	//tab切换头
	/deep/.ivu-tabs-bar {
		position: relative;
		border-bottom: 0;
		&:before {
			content: ' ';
			position: absolute;
			bottom: 5px;
			left: 0;
			right: 0;
			display: block;
			height: 1px;
			background-color: #ddd;
		}
		.ivu-tabs-nav-wrap {text-align: center;}
		.ivu-tabs-nav-scroll {
			display: inline-block;
		}
		//横线
		.ivu-tabs-ink-bar {background-color: $color-body-c;}
		// 头部切换
		.ivu-tabs-nav .ivu-tabs-tab {
			padding-bottom: 10px; 
			&:hover {color: $color-body-c;}
			
		}
		.ivu-tabs-nav .ivu-tabs-tab-active {color: $color-body-c;}
	}
	//tab-form
	.login-type {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		padding: 3.333rem 0;
		.login-img {
			display: block;
		}
		//登录form
		.login-tab-form {
			display: block;
			width: 31.666rem;
			padding: 2.083rem;
			margin: 9rem auto 0;
			box-shadow: 0 0 10px rgba(0, 0, 0, .2);
			background-color: $color-white;
			/deep/.ivu-tabs .ivu-tabs-tabpane {padding: 0 4px;}
			.tab-vf /deep/.ivu-input {padding: 7px 8px!important;}
			.tab-inpt {
				width: 100%;
				margin-bottom: 1.666rem!important;
				/deep/.ivu-input {
					height: 40px;
					line-height: 40px;
					padding: 7px 7px 7px 36px;
					font-size: $font-size-sm;
				}
				.tab-icon {
					height: 40px;
					line-height: 40px;
					font-size: 26px;
					color: $color-body-c;
				}
				/deep/.ivu-input-group-append {
					color: $color-white;
					border-color: $color-body-c!important;background-color: $color-body-c!important;
				}
			}
			.tab-checkbox {
				margin-bottom: 1.666rem!important;
				color: #999;
				/deep/.ivu-form-item-content {line-height: 1;}
				/deep/.ivu-checkbox-checked {
					&:hover .ivu-checkbox-inner {background-color: $color-body-c;}
					.ivu-checkbox-inner {border-color: $color-body-c;background-color: $color-body-c;}
				}
			}
			//登录按钮
			.tab-but {
				width: 100%;
				/deep/.ivu-btn-primary {
					width: 100%;
					padding-top: 8px;
					padding-bottom: 10px;
					font-size: $font-size-sm;
					border-color: $color-body-c;
					background-color: $color-body-c;
				}
			}
			//微信
			.tab-wx {
				padding-top: $md-pd;
				text-align: center;
				.tab-wx-img {
					display: inline-block;
					line-height: 0;
				}
			}
		}
	}
}